.App {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* text-align: center;
  flex-direction: column;
  justify-content: center; */
}

body {
  background-image: linear-gradient(to bottom right, rgb(0, 55, 255), yellow);; /* Replace with the color you want */
  color: white;
  font-weight: 100;
}


.span {
  display: block;
  width: 100%;
}

#button {
  font-size: 30px;
  margin-top: 30px;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #6b61fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typing-indicator {
  display: inline-flex;
  margin-right: 0.5rem;
  height: 1.2rem;
  align-items: center;
}
.typing-indicator div {
  background-color: #444;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: typing 0.8s ease-in-out infinite;
}
@keyframes typing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.stack{
  width: 70%;
  padding-bottom: 40px;
}